body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background: #404041;
  height: 140px;
}

h1 {
  font-size: 60px;
}

#pink {
  color: #ED458B;
  font-weight: 800;
}

#white {
  color: #E6E7E8;
  font-weight: 300;
}

div {
  text-align: center;
  padding-top: 25px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #404041;
  font-size: 30px;
  font-weight: 300;
}

.rangeInput {
  font-family: 'Open Sans', sans-serif;
  width: 80px;
  height: 40px;
  font-weight: 300;
  font-size:20px;
  text-align: center;
}

#submit {
  font-size:20px;
  width: 100px;
}

#guessInput {
  font-family: 'Open Sans', sans-serif;
  width: 480px;
  height: 40px;
  font-weight: 300;
  font-size:30px;
}

.button {
  font-family: 'Open Sans', sans-serif;
  background-color:#929497;
  font-weight: 300;
	font-size:30px;
  color:#ffffff;
	border-radius:28px;
	cursor:pointer;
  width: 235px;
  height: 50px;
  margin: 15px;
}

.button:hover {
  background-color:#eb0089;
}

.button:disabled {
  background-color: #D0D2D3;
}

#lastGuess {
  color: #eb0089;
  font-size: 200px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom:10px;
}

#reset-btn {
  font-size: 23px;
  height: 45;
  width: 520px;
}

#challenge-btn {
  font-size: 23px;
  height: 45;
  width: 520px;
}